@import "tailwindcss";

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Italic-VariableFont_opsz\,wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap; 
}

@theme {
    --font-sans: 'Inter', sans-serif;

    --color-primary: #4CAF4F;
    --color-black: #263238;
    --color-dark-grey: #4D4D4D;
    --color-grey: #717171;
    --color-light-grey: #89939E;
    --color-silver: #F5F7FA;
    --color-shadow: #ABBED1;

    --shadow-sm: 0 2px 4px 0 var(--color-shadow);
    --shadow-md: 0 8px 16px 0 var(--color-shadow);
}

@utility btn {
    @apply border border-primary rounded py-2 px-8;
}

@utility heading-3 {
    @apply font-bold text-2xl/9 text-dark-grey;
}

section,
footer {
    @apply w-full py-8;
}

p {
    @apply text-grey;
}

footer p {
    @apply text-silver;
}

a:hover {
    @apply underline;
}

.btn-primary {
    @apply btn inline-block w-fit text-silver bg-primary;
}

.btn-secondary {
    @apply btn inline-block w-fit text-primary bg-white;
}

.btn-transparent {
    @apply btn w-auto text-primary border-0;
}

.btn-lg {
    @apply font-semibold text-lg;
}

.btn-icon {
    @apply inline-flex items-center;

    svg {
        @apply w-5 h-5 ms-1 rtl:rotate-180;
    }
}

.heading-1 {
    @apply font-semibold text-6xl/19 text-dark-grey;
}

.heading-2 {
    @apply font-semibold text-4xl/11 text-dark-grey;
}

.heading-4 {
    @apply font-semibold text-xl/7 text-dark-grey;
}

.container-fixed {
    @apply max-w-7xl mx-auto p-4 flex items-center justify-between gap-4;
}

.testimonials {
    @apply flex-col lg:flex-row gap-0 lg:gap-18;
}

.align-sm-center-lg-left {
    @apply text-center lg:text-left;
}

.navbar {
    @apply bg-silver w-full z-20 top-0 start-0 sticky;

    .toggle-button {
        @apply p-2 w-10 h-10 lg:hidden focus:outline-none;
    }

    .nav-items {
        @apply font-medium flex flex-col p-4 lg:p-0 mt-4 lg:flex-row lg:mt-0 lg:border-0 lg:space-x-8;

        .nav-item {
            @apply block py-2 text-dark-grey;
        }
    }

    .acct-controls {
        @apply text-sm font-medium;
    }
}

.hero-banner {
    @apply flex-col lg:flex-row-reverse lg:py-14;
}

.client-logos {
    @apply flex flex-wrap gap-x-12 gap-y-4 justify-center-safe md:justify-evenly;
}

.community-cards {
    @apply flex flex-col gap-6 p-4 md:justify-between md:flex-row;

    .card {
        @apply py-6 px-8 rounded-lg shadow-sm/20 md:max-w-[300px];

        .icon {
            @apply py-2;

            img {
                @apply m-auto;
            }
        }

        h3 {
            @apply heading-3 py-2;
        }

        p {
            @apply text-sm;
        }
    }
}

.benefits {
    @apply flex-col lg:flex-row;
}

.achievements {
    @apply text-center flex-col justify-center lg:flex-row lg:gap-16 lg:py-4;

    .achivement-items {
        @apply grid gap-x-2 gap-y-6 grid-cols-1 md:grid-cols-2 md:gap-x-16;

        .achievement-item {
            @apply text-left flex gap-2 mx-auto min-w-52;
        }
    }
}

.showcase {
    @apply flex-col lg:flex-row;
}

.article-previews {
    @apply flex flex-col items-center my-4 lg:flex-row gap-4 justify-between;

    .article-preview {
        @apply max-w-96 flex-1;

        .article-details {
            @apply max-w-4/5 m-auto bg-silver rounded-lg p-4 shadow-md/40 -translate-y-1/2;
        }
    }
}

.footer {
    @apply flex-col text-silver gap-10 xl:flex-row justify-between xl:gap-4 xl:items-start;

    .identity {
         @apply text-center xl:text-left flex-1 space-y-4;

         img {
            @apply mx-auto xl:mx-0;
         }

         .socials {
            @apply flex justify-center gap-8 mt-8 xl:justify-start;

            a {
                @apply hover:scale-125 transition-transform duration-200;

                img {
                    @apply w-10;
                }
            }
         }
    }

    .links {
        @apply flex flex-col gap-8 lg:flex-row justify-between lg:gap-4 text-center lg:text-left flex-2;

        h4 {
            @apply font-bold text-2xl/7;
        }

        a {
            @apply block my-4 text-lg;
        }

        .company,
        .support,
        .newsletter {
            @apply flex-1 lg:w-1/3;
        }

        .newsletter {
            form {
                @apply py-8 flex gap-0 justify-center;

                button {
                    @apply outline-0 border-0 border-t border-r border-b border-transparent bg-white/20 px-4 rounded-tr-lg rounded-br-lg cursor-pointer;

                    img {
                        @apply hover:scale-110;
                    }
                
                }

                input {
                    @apply outline-0 border-0 border-t border-l border-b border-transparent bg-white/20 py-2 px-4 rounded-bl-lg rounded-tl-lg lg:min-w-0 text-sm;

                    &:focus {
                        @apply  border-silver; 

                        & + button {
                            @apply  border-silver;
                        }
                    }
                }
            }
            
        }
    }
}