@import "tailwindcss";

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Italic-VariableFont_opsz\,wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap; 
}

@theme {
    --font-sans: 'Inter', sans-serif;

    --color-primary: #4CAF4F;
    --color-black: #000000;
    --color-dark-grey: #4D4D4D;
    --color-grey: #717171;
    --color-silver: #F5F7FA;
}

@utility btn {
    @apply border border-primary rounded py-2 px-8;
}

.btn-primary {
    @apply btn inline-block  w-auto text-silver bg-primary;
}

.btn-secondary {
    @apply btn inline-block w-auto text-primary bg-white;
}

.heading-1 {
    @apply font-semibold text-6xl/19 text-dark-grey;
}