@import "tailwindcss";

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Italic-VariableFont_opsz\,wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap; 
}

@theme {
    --font-sans: 'Inter', sans-serif;

    --color-primary: #4CAF4F;
    --color-black: #263238;
    --color-dark-grey: #4D4D4D;
    --color-grey: #717171;
    --color-light-grey: #89939E;
    --color-silver: #F5F7FA;
    --color-shadow: #ABBED1;

    --shadow-sm: 0 2px 4px 0 var(--color-shadow);
    --shadow-md: 0 8px 16px 0 var(--color-shadow);
}

@utility btn {
    @apply border border-primary rounded py-2 px-8;
}

@utility heading-3 {
    @apply font-bold text-2xl/9 text-dark-grey;
}

section {
    @apply w-full py-8;
}

p {
    @apply text-grey;
}

footer p {
    @apply text-silver;
}

a:hover {
    @apply underline;
}

.btn-primary {
    @apply btn inline-block w-fit text-silver bg-primary;
}

.btn-secondary {
    @apply btn inline-block w-fit text-primary bg-white;
}

.btn-transparent {
    @apply btn w-auto text-primary border-0;
}

.heading-1 {
    @apply font-semibold text-6xl/19 text-dark-grey;
}

.heading-2 {
    @apply font-semibold text-4xl/11 text-dark-grey;
}

.heading-4 {
    @apply font-semibold text-xl/7 text-dark-grey;
}

.container-fixed {
    @apply max-w-7xl mx-auto p-4 flex items-center justify-between gap-4;
}

.align-sm-center-lg-left {
    @apply text-center lg:text-left;
}

.navbar {
    @apply bg-silver w-full z-20 top-0 start-0 sticky;

    .toggle-button {
        @apply p-2 w-10 h-10 lg:hidden focus:outline-none;
    }

    .nav-items {
        @apply font-medium flex flex-col p-4 lg:p-0 mt-4 lg:flex-row lg:mt-0 lg:border-0 lg:space-x-8;

        .nav-item {
            @apply block py-2 text-dark-grey;
        }
    }

    .acct-controls {
        @apply text-sm font-medium;
    }
}

.hero-banner {
    @apply flex-col lg:flex-row-reverse lg:py-14;
}

.client-logos {
    @apply flex flex-wrap gap-x-12 gap-y-4 justify-center-safe md:justify-evenly;
}

.community-cards {
    @apply flex flex-col gap-6 p-4 md:justify-between md:flex-row;

    .card {
        @apply py-6 px-8 rounded-lg shadow-sm/20 md:max-w-[300px];

        .icon {
            @apply py-2;

            img {
                @apply m-auto;
            }
        }

        h3 {
            @apply heading-3 py-2;
        }

        p {
            @apply text-sm;
        }
    }
}

.benefits {
    @apply flex-col lg:flex-row;
}

.achievements {
    @apply text-center flex-col justify-center lg:flex-row lg:gap-16 lg:py-4;

    .achivement-items {
        @apply grid gap-x-2 gap-y-6 grid-cols-1 md:grid-cols-2 md:gap-x-16;

        .achievement-item {
            @apply text-left flex gap-2 mx-auto min-w-52;
        }
    }
}

.showcase {
    @apply flex-col lg:flex-row;
}

.newsletter {
    button {
        @apply outline-0 border-0 border-t border-r border-b border-transparent
    }
    input {
        @apply outline-0 border-0 border-t border-l border-b border-transparent;

        &:focus {
            @apply  border-silver; 

            & + button {
                @apply  border-silver;
            }
        }
    }
    
}