@import "tailwindcss";

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Italic-VariableFont_opsz\,wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap; 
}

@theme {
    --font-sans: 'Inter', sans-serif;

    --color-primary: #4CAF4F;
    --color-black: #263238;
    --color-dark-grey: #4D4D4D;
    --color-grey: #717171;
    --color-light-grey: #89939E;
    --color-silver: #F5F7FA;
    --color-shadow: #ABBED1;

    --shadow-sm: 0 2px 4px 0 var(--color-shadow);
    --shadow-md: 0 8px 16px 0 var(--color-shadow);
}

@utility btn {
    @apply border border-primary rounded py-2 px-8;
}

@utility heading-3 {
    @apply font-bold text-2xl/9 text-dark-grey;
}

p {
    @apply text-grey;
}

footer p {
    @apply text-silver;
}

a:hover {
    @apply underline;
}

.btn-primary {
    @apply btn w-auto text-silver bg-primary;
}

.btn-secondary {
    @apply btn inline-block w-auto text-primary bg-white;
}

.btn-transparent {
    @apply btn w-auto text-primary border-0;
}

.heading-1 {
    @apply font-semibold text-6xl/19 text-dark-grey;
}

.heading-2 {
    @apply font-semibold text-4xl/11 text-dark-grey;
}

.heading-4 {
    @apply font-semibold text-xl/7 text-dark-grey;
}

.card {
    @apply py-6 px-8 rounded-lg shadow-sm/20 md:max-w-[300px];

    .icon {
        @apply py-2;

        img {
            @apply m-auto;
        }
    }

    h3 {
        @apply heading-3 py-2;
    }

    p {
        @apply text-sm;
    }
}

.newsletter {
    button {
        @apply outline-0 border-0 border-t border-r border-b border-transparent
    }
    input {
        @apply outline-0 border-0 border-t border-l border-b border-transparent;

        &:focus {
            @apply  border-silver; 

            & + button {
                @apply  border-silver;
            }
        }
    }
    
}